{% include "header.html" %}



<div id="main">
    <div class="inner">
        <h1>Video : Fractional Knapsack</h1>

		<video width="500px" height="500px" controls="controls"><source src="{{ url_for('static', filename='videos/Dijkstras_Final.mp4') }}" type="video/mp4"></video>


        <h3>Basic Info</h3>
									<div class="table-wrapper">
										<table class="alt">
<!--											<thead>-->
<!--												<tr>-->
<!--													<th>Name</th>-->
<!--													<th>Description</th>-->
<!--												</tr>-->
<!--											</thead>-->
											<tbody>
											<tr>
													<td>Video ID</td>
													<td>012</td>
												</tr>
												<tr>
													<td>Title</td>
													<td>Dijkstra’s Shortest Path Algorithm</td>
												</tr>
												<tr>
													<td>Related Topic</td>
													<td>Design and Analysis of Algorithms</td>
												</tr>

												<tr>
													<td>Views</td>
													<td>10</td>
												</tr>

												<tr>
													<td>General Comments</td>
													<td>Dijkstra's algorithm is an algorithm for finding the shortest paths between nodes in a graph, which may represent, for example, road networks.</td>
												</tr>

												<tr>
													<td>Uploaded By</td>
													<td>teacher@email.com</td>
												</tr>

												<tr>
													<td>Date of Upload</td>
													<td>15/9/2022</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>     </td>
												</tr>
											</tfoot>
										</table>
									</div>

    </div>
</div>
{% include "footer.html" %}